body {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
  }
  .img {
    width: 200px;
    height: 260px;
    margin-bottom: 30px;
    transform: scale(0.2s);
  }
  .img:hover{
      transform: scale(1.1);
  }
  .title {
    text-align: center;
  }
  .price {
    text-align: center;
  }
  .rate {
    text-align: center;
  }
  .box {
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    height: 650px;
  }
  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 40px;
  }
  .BTNbuy{
      height: 50px;
      width: 150px;
      border: none;
      border-radius: 20px;
      background-color: lightgray;
      font-size: 30px;
  }
  .BTNDiv{
      display: flex;
      justify-content: center;
  }
  .ImgDiv{
      height: 360px;
      display: flex;
      justify-content: center;
      align-items: center;
  }